<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <link rel="stylesheet" href="/css/mypage.css">
</head>

<body>
  <div id="container" class="container">
    <img src="/src/logo.png" alt="logo" class="logo">
    <div class="profile">
      <div class="profileImage">
        <img src="/src/profile.png" alt="profileimg">
      </div>
      <div class="post">
        <div>게시물</div>
        <div>
          <%=showdb.length %>
        </div>
      </div>
      <div class="followers">
        <div>팔로워</div>
        <div>
          <%=showfollow.followerId.length %>
        </div>
      </div>
      <div class="followings">
        <div>팔로잉</div>
        <div>
          <%=showfollow.followingId.length %>
        </div>
      </div>
      <div id="myPosts" class="gridContainer">
        <!-- 임시데이터 -->
        <% for (let i=0; i <showdb.length; i++) { %>
          <div>
            <img src="/image/<%=showdb[i].postImage %>" alt="profileimg" id="postImg" class="postImg" postText="<%=showdb[i].postText %>">
          </div>
          <div id="modal<%= i %>" class="modal">
            <span class="close">&times;</span>
            <img id="modalImage<%= i %>" class="modalImage" src="/image/<%=showdb[i].postImage %>" >
            <div id="modalText<%= i %>" class="text modalText" postText="<%=showdb[i].postText %>">
            </div>
            <div class="modalButtons">
              <button id="editButton<%= i %>" onclick="location.href='mypage/update/<%=showdb[i]._id %>'">수정하기</button>
              <button id="deleteButton<%= i %>" data-id="<%=showdb[i]._id %>" onclick="deleteRequest(this)">삭제하기</button>
            </div>
          </div>

        <% } %>
      </div>
      <%- include('./include/menu_button.ejs') %>
    </div>
    <script src="/js/mypage.js"></script>
    <!-- <script>
// 클릭
var container = document.getElementsByClassName("container");
var images = document.querySelectorAll(`#myPosts .postImg`);
console.log(">>",images)
images.forEach((img,index) => {
  var modal = document.querySelector(`#modal${index}`);
  var modalImg = document.querySelector(`#modalImage${index}`);
  var modalText = document.querySelector(`#modalText${index}`);
  img.onclick = function () {
    modal.style.border = "3px solid black";
    modal.style.display = "block";
    // modalImg.src = this.src;
    modalText.innerHTML = this.getAttribute("postText");
  };

});
//닫기
var span = document.querySelector(".close");

span.onclick = function () {
  modal.style.display = "none";
};
var deleteButton = document.getElementById("deleteButton");

deleteButton.onclick = function () {
  if (confirm("정말 삭제하시겠습니까?")) {
    alert("삭제되었습니다.");
  }
};
    </script> -->
</body>

</html>